<!DOCTYPE html>
<html>
  <head>
  <title>Couch-Concierge</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
  </head>
  <body>

    <div data-role="page" data-theme="c">

      <div data-role="header">
        <h2>Create your own night</h2>
      </div><!-- /header -->

      <div data-role="content" >
        <%= simple_form_for @story do |s| %>
          <%= s.input :name, :required => true %>
          <%= s.input :description, :required => true, :as => :text %>
          <%= s.association :category, :collection => @categories %>
          <%= s.association :cuisine, :collection => @cuisines %>
          <%= s.input :image_url, :as => :hidden, :input_html => { :value => "https://dl.dropbox.com/u/71404227/Couch.gif" } %>
          <%= s.button :submit %>
        <% end %>

      </div><!-- /content -->
      <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Concierge", stories_path %></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
    </div><!-- /page -->

  </body>
</html>